<!DOCTYPE html>
<html lang="de"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Main</title>
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="Beshareful" />
	</f:facet>
	
</h:head>
<h:body>
	<h:form>
		 <p:dataTable var="student" value="#{studentView.student}" 
                 emptyMessage="No students found with given criteria"
                 globalFilterFunction="#{dtFilterView.globalFilterFunction}">
 
        <f:facet name="header">
            <h:outputText>#{msg['dataTable.studentView.students.header']}</h:outputText>
        </f:facet>
 
        <p:column headerText="name">
            <h:outputText value="#{student.name}" />
        </p:column>
 
        <p:column headerText="number">
            <h:outputText value="#{student.number}" />
        </p:column>
 
        
    </p:dataTable>
	</h:form>
</h:body>
</html>